dist
dist-newstyle
tst/*.txt
tst/*.xhtml
*.bak
doc/src/*.mp?
doc/src/*.aux
doc/src/*.toc
doc/src/*.log
doc/src/*.bbl
doc/src/*.blg
doc/src/*.lot
doc/src/*.lof
doc/src/*.idx
doc/src/*.ilg
doc/src/*.ind
